body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    text-align: center;
    background-color: #3730a3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.addBook {
    background-color: #3730a3;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.displayBooks {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 150px;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.cancel{
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.add-button {
    background-color: rgb(0, 137, 48);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

dialog {
    border-radius: 1rem;
    border: none;
    height: 200px;
    width: 350px;
    font-weight: bold;
}

.book-info {
    width: 300px;
    display: flex;
    gap: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.status {
    width: 250px;
    display: flex;
    gap: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    width: 55px;
}

input {
    width: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 0 0 1px 2px;
}

.read {
    background-color: green;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 125px;
    font-size: 13px;
    cursor: pointer;
}

.remove {
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 125px;
    cursor: pointer;
}
